body
{
    margin: 0;
    padding: 0;
    background-color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: palevioletred;
    border-radius: 15px;

}
h2{
    text-align: center;
    color: brown;
    padding: 20px;
}
label{
    color:rgb(133, 14, 133);
    font-size: 17px;

}
#Uname{
    width: 320px;
    height: 32px;
    border: none;
    border-radius: 17px;
    padding-left: 9px;

}
#Pass{
    width: 320px;
    height: 32px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color:powderblue;


}
#log{
    width: 320px;
    height: 25px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color:blue;

    
}
span{
    color: rgb(226, 49, 17);
    font-size: 17px;


}

a{
    float:right;
    margin-left: 5px;
    background-color: powderblue
}